/* CSS for artwork.html*/

h4 {
  margin-left: 37%;  
}

.carouselView {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 850px;
  height: 560px;
  /* margin-right: 12em; */
  margin-right: 20em;
  float:left;
}
.carouselControls{
  margin-right: 20em;
}
.slide {
  flex: 0 0 800px;
  /* sets flex-grow, flex-shrink, flex-basis */
  height: 550px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.slide img {
  height: 530px;
  width: 800px;
  object-fit: contain;
}

.slide:first-of-type {
  opacity: 0;
}

.slide:last-of-type {
  opacity: 0;
}

.carouselButton {
  font-family: sans-serif;
  font-size: 1em;
  padding: 2px 20px;
  margin: 10px 140px 0 180px;
  background-color: #b59eca;
  color: #ffffff;
  border-radius: 30px;
  outline: none;
}

.carouselButton:hover {
  background-color: #000000; 
  cursor: pointer;
} 

#footermenu{
    transition: .5s;
    display:inline-block;    
    list-style: none;
    font-size: 10pt;    
    margin: 2px 1px;
    margin-top: 2em;
    padding: 2px 10px;
    color: black;    
}
footer {
  text-align: center;
  padding: 2px 0;
  background-color: #cdcad1;
  color: #ffffffec;
  margin-top: 1px;
  height: 4em;  
}
.bottom {
    margin-left: 20px;
}
footer a:hover {    
  background-color: rgb(228, 222, 222);
  color: black;
}