print

/* Hide navigation bar */
.header1{
    display: none;
}
ul{
    display: none;     
}
 
li a {
  display: none;     
}

/* Hide Audio file */
.s1{
    display: none;
}

/* Hide Video file */
.s3{
    display: none;
}

a:link {
    margin: 0;
}
/* show url for print instead of hyperlink */
a::after {
    content: " [" attr(href) "]";
}

.x1 {
    padding: 0;
}

.x2 {
    padding: 0; 
}

.img {
    border: none;   
}

img:hover {
   box-shadow: none;
}
  
/* 
Below elements are changed for print 
px > pt
specifics for alignment
*/

/* h1{
    color: hotpink;
    text-align: center;
}

h2{
    color: hotpink;
    text-align: left;
}


.burec {
    display: grid;
    grid-gap: 2em;   
}

.e1 {
   grid-column:  1 / 2; 

}
.e2 {
    grid-column:  2 / 5; 
}
.e3 {
    grid-column:  1 / 2; 
 
}

.e4 {
     grid-column:  2 / 5; 
}

.exp-table th,
.exp-table td {
    padding: 10pt 12pt;
    text-align: center;
}
.exp-table tbody tr {
    border-bottom: 1pt solid #dddddd; 
    text-align: center;
} 

.exp-table tbody tr:last-of-type {
    border-bottom: 1pt solid #555;
}

#cap1{
    color: hotpink;
    text-align: center;    
    font-weight: bold;
} */